* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Inter';
    padding: 270px 304px 151px 744px ;
    width: 100%;
    height: 100vh;
    background-color: #FFF8ED;
    background-size: cover;
}

.login {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
}

label {
    display: block;
    margin-top: 30px;
  }

.login input{
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(71, 64, 128, 0.2);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: .5s;
    cursor: pointer;
    display: block;
    width: 392px;
    height: 48px;
    border-radius: 15px;
}


.login input:hover {
    cursor: pointer;
    background-color:#6D64AE;
}

form {
    width: 392px;
    height: 48px;
    border-radius: 8px;
    
  }
 h1 {
    text-align: center;
 }


.login input {
    width: 100%;
    margin-bottom: 15px;
}



.login input[type="text"]{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    padding: 10px 10px; 
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid rgba(71, 64, 128, 0.2);
    cursor: pointer;
    border-radius: 15px;
}



  .register {

    width: 313px;
    height: 470px;
    left: 241px;
    top: 132px;
    position: absolute;
  }


