<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutus</title>
    <link rel="stylesheet" href="css/aboutus.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="mainpage.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="mainpage.html">Главная</a></li>
                    <li><a href="aboutus.html" style="color: #F2A17A; border-bottom: 2px solid #ED7C48;">О нас</a></li>
                    <li><a href="#programs">Наши программы</a></li>
                    <li><a href="#">фонды</a></li>
                    <li><a href="#">Категории</a></li>
                </ul>
                <div class="buttons">
                    <a class="voiti" href="index1.html">Войти</a>
                    <a class="help" href="#">Хочу помочь</a>
                </div>
            </div>
        </nav>
    </menu>

    <section class="txt">
        <img src="img/ab1.png" alt="">
        <div class="container">
            <div class="textt">
                <h1>О нас</h1>
                <p>Sadaqa - это благотворительная платформа, объединяющая все достоверные фонды Казахстана в одном месте. Наша миссия заключается в том, чтобы сделать процесс благотворительности легким и удобным для всех желающих помочь. <br> <br>

                    Мы понимаем, что выбор фонда для пожертвования может быть сложным. Но благодаря нашей платформе вы можете быть уверены в достоверности и прозрачности каждого фонда, представленного на нашем сайте. Мы тщательно проверяем каждый фонд, чтобы убедиться, что деньги пожертвованные вами идут на поддержку нуждающихся. <br><br>
                    
                    На Sadaqa вы можете выбрать фонд, который наиболее соответствует вашим целям благотворительности, будь то помощь больным детям, защита прав животных или помощь нуждающимся семьям. Вы можете узнать подробную информацию о каждом фонде и о том, какие проекты они финансируют. <br> <br>
                    
                    Мы также предлагаем удобный способ совершать пожертвования через нашу платформу. Вы можете выбрать один из удобных способов оплаты, включая онлайн-платежи, банковские карты и мобильные платежи. <br><br>
                    
                    Благодаря Sadaqa вы можете быть уверены, что ваше пожертвование пойдет на поддержку нуждающихся, и вы сможете увидеть результаты вашей помощи. Мы верим, что совместные усилия могут привести к изменениям в лучшую сторону в нашем обществе, и Sadaqa готова помочь вам стать частью этого движения.</p>

            </div>
        </div>
        <img src="img/ab2.png" alt="" class="mal">
    </section>

    <footer>
        <div class="container">
        <a href="">© 2023 Sadaka</a>
        <ul>
            <li><a href="mainpage.html">Главная</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#">фонды</a></li>
            <li><a href="#">Категории</a></li>
        </ul>
    </div>
    </footer>

</body>
</html>