<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="css/categories.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="mainpage.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#programs">Наши программы</a></li>
                    <li><a href="#">фонды</a></li>
                    <li><a href="#" style="color: #F2A17A; border-bottom: 2px solid #ED7C48;">Категории</a></li>
                </ul>
                <div class="buttons">
                    <a class="voiti" href="index1.html">Войти</a>
                    <a class="help" href="#">Хочу помочь</a>
                </div>
            </div>
        </nav>
    </menu>

    <section class="search">
        <div class="container">
            <div class="content">
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input">
                    <button type="submit" class="search-button">
                      <img src="img/search.png" alt="">
                    </button>
                </div>
                <div class="recently">
                    <h1>Недавние</h1>
                    <div class="helps">
                        <div class="help1">
                            <img src="img/helpp1.png" alt="" >
                            <h3>Помоги Баксу</h3>
                            <p>Бакс - это крупный кобель, который живет в одном из приютов для бездомных животных. Он был найден </p>
                            <div class="cash">
                                <p id="summa">Собрано: 100₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help2.png" alt="" >
                            <h3>Помоги Насте</h3>
                            <p>Настя - это девочка, которая в очень юном возрасте потеряла своих родителей в результате трагической аварии.</p>
                            <div class="cash">
                                <p id="summa">Собрано: 100₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="help.html">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help3.png" alt="" >
                            <h3>Помоги многодетной семье</h3>
                            <p>это многодетная семья, которая находится в трудной жизненной ситуации.</p>
                            <div class="cash">
                                <p id="summa">Собрано: 55 400₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help4.png" alt="" >
                            <h3>Помоги Мансур</h3>
                            <p>У Мансура ДЦП,
                                гиперкинетическая форма, тяжелой степени, псевдобульбарный</p>
                            <div class="cash">
                                <p id="summa">Собрано: 90 000₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                    </div>
                </div>
                <div class="recently">
                    <h1>Срочные</h1>
                    <div class="helps">
                        <div class="help1">
                            <img src="img/help5.png" alt="" >
                            <h3>Помоги Аише</h3>
                            <p>Аиша - маленькая девочка, которая столкнулась с тяжелым заболеванием ДЦП гиперкинетической </p>
                            <div class="cash">
                                <p id="summa">Собрано: 100₸</p>
                                <p id="goal"> <b>Цель: 800 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help6.png" alt="" >
                            <h3>Помоги Умке</h3>
                            <p>Умка - добрый и преданный друг, который несчастно попал под колеса машины. Его собачье сердце все еще бьется</p>
                            <div class="cash">
                                <p id="summa">Собрано: 100₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help7.png" alt="" >
                            <h3>Помоги Андрею</h3>
                            <p>Андрей - мальчик, который родился с умственной отсталостью и нуждается в нашей помощи</p>
                            <div class="cash">
                                <p id="summa">Собрано: 32500₸</p>
                                <p id="goal"> <b>Цель: 100 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help8.png" alt="" >
                            <h3>Помоги Санжару</h3>
                            <p>Санжар - мальчик, который столкнулся с трудностями в своей жизни с рождения. У него детский церебральный</p>
                            <div class="cash">
                                <p id="summa">Собрано: 90000₸</p>
                                <p id="goal"> <b>Цель: 900 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                    </div>
                </div>
                <div class="recently">
                    <h1>Недавние</h1>
                    <div class="helps">
                        <div class="help1">
                            <img src="img/help9.png" alt="" >
                            <h3>Помоги Аяне</h3>
                            <p>Аяна - это девочка, которая родилась с особыми потребностями, связанными с нарушением зрения </p>
                            <div class="cash">
                                <p id="summa">Собрано: 10000₸</p>
                                <p id="goal"> <b>Цель: 990 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help10.png" alt="" >
                            <h3>Помоги Аружан</h3>
                            <p>Аружан - это девочка, которая живет с инвалидностью 2 группы. Это значит, что у нее есть серьезные ограничения</p>
                            <div class="cash">
                                <p id="summa">Собрано: 3000₸</p>
                                <p id="goal"> <b>Цель: 800 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help11.png" alt="" >
                            <h3>Помоги Анджелле</h3>
                            <p>Андрей - мальчик, который родился с умственной отсталостью и нуждается в нашей помощи</p>
                            <div class="cash">
                                <p id="summa">Собрано: 53500₸</p>
                                <p id="goal"> <b>Цель: 300 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                        <div class="help1">
                            <img src="img/help12.png" alt="" >
                            <h3>Помоги Аспендияру</h3>
                            <p>Аспендияр - мальчик всего 8 лет, который борется со сложным заболеванием - раком головного мозга.</p>
                            <div class="cash">
                                <p id="summa">Собрано: 67000₸</p>
                                <p id="goal"> <b>Цель: 990 000₸</b></p>
                            </div>
                            <img src="img/poll.png" alt="" style="margin-left: 10px;">
                            <a href="#">Помочь</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p style="color: #666666;">@ 2023 Sadaka</p>
            <p style="margin-left: 700px;">Главная</p>
            <p>О нас</p>
            <p>Фонды</p>
            <p style="color: #F2A17A;">Категории</p>
        </div>
    </footer>

</body>
</html>