<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addfond</title>
    <link rel="stylesheet" href="css/congrats.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="logo">
                <a href="#"><img src="img/logo.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#programs">Наши программы</a></li>
                <li><a href="#">фонды</a></li>
                <li><a href="categories.html">Категории</a></li>
            </ul>
            <div class="buttons">
                <img src="img/user.png" alt="">
                <p id="name_surname">Atibek Togzhan</p>
            </div>
        </nav>
    </menu>

    <div class="center">
        <div class="content">
            <h1>Поздравляем!</h1>
            <img src="img/vrify.png" alt="">
            <h1>Запрос отправлен. <br>
                Мы объязательно свяжемся с вами</h1>
            <a href="mainpage.html">Перейти на главную страницу</a>
        </div>
    </div>

    <footer>
        <p style="color: #666666;">@ 2023 Sadaka</p>
            <p style="margin-left: 700px;">Главная</p>
            <p>О нас</p>
            <p>Фонды</p>
            <p style="color: #F2A17A;">Категории</p>
    </footer>

</body>
</html>