<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="css/help.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="mainpage.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#programs">Наши программы</a></li>
                    <li><a href="#">фонды</a></li>
                    <li><a href="#" style="color: #F2A17A; border-bottom: 2px solid #ED7C48;">Категории</a></li>
                </ul>
                <div class="buttons">
                    <a class="voiti" href="index1.html">Войти</a>
                    <a class="help" href="#">Хочу помочь</a>
                </div>
            </div>
        </nav>
    </menu>

    <section class="main">
        <h1>Помоги Насте</h1>
        <p>Настя - это девочка, которая в очень юном возрасте потеряла <br> своих родителей в результате трагической аварии.</p>
        <img src="img/nastya.png" alt="">
        <p style="color: #F2A17A; margin-left: -830px;"> <b>Настя Блючина · Тараз </b></p>
        <p style="margin-left: -995px; margin-top: 5px; font-size: 10px;">Апрель 20, 2023</p>
        <p>
            Настя - это девочка, которая в очень юном возрасте потеряла своих родителей в <br> результате трагической аварии. После этого несчастного случая она также потеряла <br> одну из своих рук, что стало для нее настоящим испытанием. <br>

Несмотря на свои трудности, Настя - умная, многообещающая девочка, которая очень <br> много учится и стремится к успеху. Она любит читать книги, рисовать и играть на  <br> музыкальных инструментах. Но ей не хватает не только поддержки и заботы, но и средств <br>  для того, чтобы справиться с повседневными задачами, связанными с ее физическим  <br> состоянием. <br>

Настя нуждается в процессе реабилитации и в использовании протеза руки, чтобы у нее была <br> возможность выполнять обычные повседневные задачи, такие как одевание, кушание и  <br>уход за собой. Она также нуждается в поддержке и помощи для достижения своих  <br>мечтаний и целей. <br>

Вы можете помочь Насте и поддержать ее в ее стремлении к успеху, пожертвовав в  <br> благотворительный фонд, который занимается помощью детям-сиротам и людям с  <br> ограниченными возможностями. Ваше пожертвование может помочь Насте получить  <br> необходимую медицинскую помощь и средства для реабилитации, чтобы она могла стать <br> более самостоятельной и независимой. <br>

Помните, что каждый вклад, который вы вносите, имеет огромное значение для Насти и других <br>  людей, которые нуждаются в вашей поддержке. Пожертвуйте сегодня и помогите Насте <br> стать более счастливой и успешной в жизни.
        </p>

        <div class="cash">
            <p id="summa">Собрано: 100₸</p>
            <p id="goal"> <b>Цель: 100 000₸</b></p>
        </div>
        <img src="img/poll.png" alt="" style="width: 250px;
        height: 8px; margin-left: -840px;">
        <a href="paiding.html">Помочь</a>
    </section>

    <img src="img/line.png" alt="" style="margin-left: 300px; margin-top: 60px;">

    <footer>
        <div class="container">
            <p style="color: #666666;">@ 2023 Sadaka</p>
            <p style="margin-left: 700px;">Главная</p>
            <p>О нас</p>
            <p>Фонды</p>
            <p style="color: #F2A17A;">Категории</p>
        </div>
    </footer>

</body>
</html>