<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kids</title>
    <link rel="stylesheet" href="css/kids.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <menu>
        <nav>
            <div class="container">
                <div class="logo">
                    <a href="mainpage.html"><img src="img/logo.png" alt="Logo"></a>
                </div>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#programs" style="color: #F2A17A; border-bottom: 2px solid #ED7C48;">Наши программы</a></li>
                    <li><a href="#">фонды</a></li>
                    <li><a href="#">Категории</a></li>
                </ul>
                <div class="buttons">
                    <a class="voiti" href="index1.html">Войти</a>
                    <a class="help" href="#">Хочу помочь</a>
                </div>
            </div>
        </nav>
    </menu>

    <section class="programs">
        <div class="container">
            <div class="txt">
                <h1>О программе</h1>
                <p>Программа помощи детям - это инициатива, которая направлена на поддержку и защиту прав и интересов детей, которые находятся в трудной жизненной ситуации.</p>
            </div>
            <div class="program1">
                <div class="photo"></div>
                <div class="txtpro">
                    <div class="row">
                        <p>Благодаря программе помощи детям, многие дети получают возможность обрести надежду на лучшее будущее.</p>
                    </div>
                    <a href="#" class="helpp">Хочу помочь</a>
                </div>
            </div>
        </div>
    </section>

    <section class="whose">
        <div class="container">
            <div class="txt">
                <h1>Кому помогаем</h1>
                <p>Поддерживаем и помогаем детям</p>
            </div>
            <div class="helping">
                <div class="first">
                    <img src="img/helping1.png" alt="baby">
                    <p>детям-сиротам</p>
                </div>
                <div class="first">
                    <img src="img/helping2.png" alt="baby">
                    <p>детям с ограниченными возможностями здоровья</p>
                </div>
                <div class="first">
                    <img src="img/helping3.png" alt="baby">
                    <p>детям из многодетных и малообеспеченных семей</p>
                </div>
                <div class="first">
                    <img src="img/helping4.png" alt="baby">
                    <p>детям, которые подверглись насилию или эксплуатации</p>
                </div>
            </div>
        </div>
    </section>

    <section class="cities">
        <div class="container">
            <h1>Города, в которых помогаем</h1>
            <div class="div">
                <div class="city">
                    <a class="cit" href="#">Кызылорда</a>
                    <a class="cit" href="#">Астана</a>
                    <a class="cit" href="#">Кокшетау</a>
                    <a class="cit" href="#">Атырау</a>
                    <a class="cit" href="#">Актау</a>
                </div>
                <div class="city" id="c2">
                    <a class="cit" href="#">Балхаш</a>
                    <a class="cit" href="#">Жезказган</a>
                    <a class="cit" href="#">Костанай</a>
                    <a class="cit" href="#">Актобе</a>
                    <a class="cit" href="#">Алматы</a>
                    <a class="cit" href="#">Павлодар</a>
                </div>
                <div class="city" id="c2">
                    <a class="cit" href="#">Петропавловск</a>
                    <a class="cit" href="#">Семей</a>
                    <a class="cit" href="#">Тараз</a>
                    <a class="cit" href="#">Талдыкорган</a>
                    <a class="cit" href="#">Туркестан</a>
                    <a class="cit" href="#">Шымкент</a>
                </div>
                <div class="city">
                    <a class="cit" href="#">Каскелен</a>
                    <a class="cit" href="#">Уральск</a>
                    <a class="cit" href="#">Каратау</a>
                    <a class="cit" href="#">Жанаозен</a>
                    <a class="cit" href="#">Жанатас</a>
                </div>
            </div>
            
        </div>
    </section>


    <section class="nko">
        <div class="container">
            <h1>НКО, которым помогаем</h1>
            <div class="blocks">
                <div class="block1">
                    <h4>Подарок ангелу</h4>
                    <p>Помогает взрослым и детям с <br> серьезными  нарушениями <br> опорно-двигательного аппарата</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini1.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Спина Бифида</h4>
                    <p>Помогают взрослым и детям с <br> врожденной спинномозговой <br> грыжей</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini2.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Особое детство</h4>
                    <p style="margin-bottom: 47px;">Помогает взрослым и детям с <br> психическими нарушениями            </p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomin3.png" alt="" class="logo">
                </div>
            </div>
            <div class="blocks">
                <div class="block1">
                    <h4>Подарок ангелу</h4>
                    <p>Помогает взрослым и детям с <br> серьезными  нарушениями <br> опорно-двигательного аппарата</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini1.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Спина Бифида</h4>
                    <p>Помогают взрослым и детям с <br> врожденной спинномозговой <br> грыжей</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini2.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Особое детство</h4>
                    <p style="margin-bottom: 47px;">Помогает взрослым и детям с <br> психическими нарушениями            </p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomin3.png" alt="" class="logo">
                </div>
            </div>
            <div class="blocks">
                <div class="block1">
                    <h4>Подарок ангелу</h4>
                    <p>Помогает взрослым и детям с <br> серьезными  нарушениями <br> опорно-двигательного аппарата</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini1.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Спина Бифида</h4>
                    <p>Помогают взрослым и детям с <br> врожденной спинномозговой <br> грыжей</p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomini2.png" alt="" class="logo">
                </div>
                <div class="block1">
                    <h4>Особое детство</h4>
                    <p style="margin-bottom: 47px;">Помогает взрослым и детям с <br> психическими нарушениями            </p>
                    <img src="img/line_mini.png" alt="" class="line">
                    <img src="img/logomin3.png" alt="" class="logo">
                </div>
            </div>
        </div>
    </section>


    <section class="otzyv">
        <div class="container">
            <h1>Отзывы о программе</h1>
            <p>Вика после серьезной операции на коленях нуждается в <br> постоянной реабилитации, но добираться до центра крайне <br> сложно.Возможность ездить на такси на занятия существенно <br> облегчила нам жизнь, стало легче и мне, маме, и самой <br> Вике.Благодраим всех, кто поддерживает этот проект, а также <br> водителей такси за участие и вежливость. <br>
                Помощь действительно рядом!</p>
            <img src="img/line.png" alt="" class="linee" style="margin-top: 80px;">
            <div class="fromwho">
                <img src="img/otzyv.png" alt="">
                <img src="img/linevertically.png" alt="">
                <img src="img/otzyv1.png" alt="">
                <img src="img/linevertically.png" alt="">
                <div class="txt">
                    <h4>Вика и Анастасия</h4>
                    <p>Подопечные фонда ”Помоги.Орг”</p>
                </div>
            </div>
            <img src="img/line.png" alt="" class="linee">
            <img src="img/line.png" alt="" class="lineee">
        </div>
    </section>

    <footer>
        <div class="container">
            <p style="color: #666666;">@ 2023 Sadaka</p>
            <p style="margin-left: 700px;">Главная</p>
            <p>О нас</p>
            <p>Фонды</p>
            <p style="color: #F2A17A;">Категории</p>
        </div>
    </footer>

</body>
</html>