<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity</title>
    <link rel="stylesheet" href="css/newPassword.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <img src="img/новый пароль.png" style="top: 100px;" class="register">
            <h1>Новый пароль</h1>
            
    <form th:action="@{/new-password}" method="post">
        <label >Почта:</label>
        <input type="email" name="email">
        <label for="surname">Пароль:</label>
        <input type="password" id="surname" placeholder="Введите новый пароль" name="password">

            <a href="passwordChanged.html" type="submit">
                <input value="Продолжить">
            </a>
    </form>
        </div>
    </div>


    <script>
        const inputPass = document.
          getElementById('forn-pass');
          const iconPass = document.
          getElementById('pass-icon');
  
          iconPass.addEventListener('click', () => {
              if (inputPass.getAttribute('type')
              === "password") {
                  inputPass.setAttribute('type', 'text');
  
              } else {
                  inputPass.setAttribute('type', 'password');
              }
          });
      function togglePassword() {
          var passwordField = document.getElementById("password");
          if (passwordField.type === "password") {
              passwordField.type = "text";
          } else {
              passwordField.type = "password";
          }
      }
  </script>
</body>
</html>