<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity</title>
    <link rel="stylesheet" href="css/passwordreset.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <img src="img/сброс пароля.png" style="top: 100px;" class="register">
            <h1>Cброс пароля</h1>
            <h3>Введите свой адрес электронной почты.Вы получите электронное письмо со ссылкой на форму для сброса пароля</h3>
    <form th:action="@{/resetpassword}" method="post">
        <label for="surname">Логин:</label>
        <input type="text" id="surname" placeholder="Введите email" name="email">

            <a href="letterSent.html" type="submit">
                <input value="Продолжить">
            </a>
        

         <a th:href="@{/login}">Назад</a>
    </form>
        </div>
    </div>

    <script>
        const inputPass = document.
        getElementById('forn-pass');
        const iconPass = document.
        getElementById('pass-icon');

        iconPass.addEventListener('click', () => {
            if (inputPass.getAttribute('type')
                === "password") {
                inputPass.setAttribute('type', 'text');

            } else {
                inputPass.setAttribute('type', 'password');
            }
        });
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>
</html>